
*{
    background-color: #F1948A;
}
li{
background-color: aquamarine;
display: inline;
margin-left: 100px;
}
#saloon{
    text-align: center;
    font-style: italic;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#pera{
    font-family: 'Times New Roman', Times, serif;
    color: #76448A;
    text-transform: capitalize;
    text-align: center;
}
#bgf{
    background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxISEhUSEhIVFRUVEhcVFxUVFRUVEBYVFRUWFhUVFRUYHSggGBolGxUVITEhJSkrLi4uFx8zODMsNygtLisBCgoKDg0OGhAQGi0lHyUtLS0wLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLf/AABEIAKkBKgMBIgACEQEDEQH/xAAbAAABBQEBAAAAAAAAAAAAAAAFAQIDBAYAB//EAEIQAAEDAgMECAMGAwUJAAAAAAEAAgMEEQUhMRJBUWEGEyJxgZGhwTKx0QcUQlLh8DNygiMkYmOiFSU0Q1NzstLx/8QAGQEAAwEBAQAAAAAAAAAAAAAAAAIEAwEF/8QAIhEAAgMAAwEAAwADAAAAAAAAAAECAxESITFBIjJRBBNh/9oADAMBAAIRAxEAPwDaYTV/8s67uY4Is0rNVEZB2hkRmjGH1YkbfeNRzWdU9WM1urx6i/dcmgpQVsYMUlNLk5Ncg4MJTCU5yjIXAEJUbinOVeV64dM/00xr7tTuIPad2W+5QH7McKIa+qkvtSEtYTrsg9ojvPyQfpxVOqatsDDfMMb/ADOOZXpNJAyCJrBk2NgHg0a+iU0zEB+mmOdRGIo3WllBAtq1u93ss3gFBbO3PifFVxKaqofOdCbNHBjfhHv4rTUTLCywsn8KaoYtYTpW6InCxUKQIrAFgakrI1YbGuYFOEyQrYwMXBqmAShq7hzSLq1xhViy4hdO6DqinvYjJzTcOHxA8kXw6q6xueTm5OHuORVR7VBC/q3h+7Q8wfota5YzGyOoKVcW0CN+48DuQ6lqNoX36HkRkR5otKgB7E7m7njbHfo72PiqSYIXTHlPamuC4wRA5Mcy6sbCd1aDoDxRlmE+CDAI30hNg1vG5QZqmu9LKP1OaFbp2G6jgiui1LTqbChyxE9LHYK5TRbTwNwzKZs2CI4fHZt/zfJb1x1ktksRcBSJLpbqwjMXI1UYpDFIDuOR7kRKq1Ue0F58W09R6DWrA5G+4yUgKCYPV2/s3bvh+iMtKujLktIZR4vGPSOXXSFMJgwppTimFcDCN6G4hKGtJvawJRGUrLdM6nYp356i3olfgyRjug9N94r3znMRAuH877hvpdazp1XmOn6tvxzHYHG34j5XQr7K4LU8sls3zWvya0D5kqLpfN1lYyP8jfV2voB5pG8RqlrOwSl2WjuR2Fio03ZFkk2PQx5F1zwbmVI+2WfDRUwRSBYSPprED/Cei9D01pza7Xt57N7d9k6ixXJGxjCmaFRw/EYpReN4dluOavAoFHp4TAE7QIA66W6zdf0rijJADnkfl+pQyTp0fw055XePYFGHTbFVqhuSytL02JPbgIHEG/zC0WH4nFO27DmNQdQunMCOG1G1HY6sNj3bj5IbjZtJA/8AzCzwc0+7VHBP1VQG7pAW/wBTe0PTaXdJHWja78s0Z/1W91TGWxJZRyWBaMZJ2ykgNwO5Thq0MyNrE7ZUiTnoOKDpksfkvKR+UW9z81Up4b9ysVDNuVztxcbcxfVXaen8lDZLZdHowjxijqeAIhFHZdFGAnuKWKEb0VrNpwbxPoi4FslQwxlyXeA91fKrqXWktsteCrk1ctTIxXW3S2Q6CZXon3Xmo9JlarjLTtDUZo5Q1Qe0OHiOaHSgFVaeYxPv+E6j3W1U+LwxthyWmlC4pkb757inFWEZxUbk8lMK4wIZV5/9pMto7cvXRb6crzr7Tf4YPMD5/RJLweHoW+zyHZoY/wDEXu83H6ITUx7VfO4/hDR6LR9Dxajpx/lj3KCxdqeocP8Aq28mgfNZ2Po1q/Y6WmfIQxpLQfidvtwCKUXRulYLuYHc3ZqNj9nNUJ8TJda6nTwq476aA4bSEW6png23qFUl6P0hzALe4q3hJBtvRSaNttF3kznFATDcFbC8PZKcjotVHUgrIV1RsHI+CdhmJHasShthhvIc1JJGC0g7xZVMOkuFLVS5LqYuGdm6OQA5kkX00v3q3T08DPhibfiQCfMqOWqBNrq5BHfNKmzTisLkD43ZEN8gqVbhDL9ZFZkgNwW5NPJwGoKZWjZF1XhxI6FHL4c4fUQ42/JslrOjex/dZw2vQlWOlDr0sh4AO8nAlU8R/tGPH5mOHopKuTrKF5405P8Aput63sWiexZJMOYNLtRMPFo+SJBZroNU9ZSsO8C3lki+JYq2EW1edG+55LZSXHWYOLcmkW5pWsaXONgP3ks1iWJOmOy3ss4bzzP0VWapfK67iT8h3DcrlJSqay5y6XhXXUodv0lpacAK4wJumSdGFmuh29JFE4qR6fQR3ff8ufjuTRWvBJPitCNNFstA37+9SLl11aliwifb04rrLrpF04eTUtQi1NLdZSnqUWpaledh6JomG6bURXCq086th10AdhNWQerd/SfZGQ5Z6oivnvV2grdrsu+IevNVVT3pkt0M/JBQuTCUzbXErZmBFOV519pfwgbrg+R/VeiTBYb7RIrwX3hw9UsvBo+hvo28fdIDuELfQLO9HptszO4zOPmSr+A1P+7mEatic3xbcID0Nlv1o/xA+d1jb4UU/sav7vcLK4/QTRHbjzHdcdxAzW3p81LNRhw0U0XhvI86oellTGP4N/ByIydMKtwyhA81oJ8Cbe9kxmDtG5bc1/BOL/oHonzS5yllju2Te3I31ROjisfFW/uoaE2P4h3rOT00ijZ4WDsBLVtLg4A2yyT8MN2hSTR3TCv0wOINrIndlsbr8NrLlff5LqTG8QaB/dQ64vk798QtlLSX3Jv3ZCeA3phKzGsTluBTFg0Jtd3gCQj2F079gGQWJAyJBd3m2XkjopVHOywXJvQhqBl7Oskw539yeOEcjfIEKKV/aVHB6q1BUOcch1nrl9PNaU+CXfCT7PMRDKaW/wCA5DiSLAeYVmLae4ucSSTclZboVG4sec7Fw7iQD/7Ld0FIspSbyP8ADWKUdl9ZLQ0l89yvk2yCl6vKwQzEcUZEerb2pCL7PAfmfwHzRmIN5Msk52UgKH0Ice04kk6k+3AK+5KmD/g8uV3DG5E8Tby/+oc0XNkZhYGgDh+yqKI96T3y6wkXXSXXXVRKKuXLkAeLYjhpadpmm8fRV6achauSFBMSwwjtsHePcKeyv+FFdvxk1LVo3STghY6GVX6WvLTyUzWFK7NUSCq0rbHabqNFVp6vb0V5sLiNQhMGi7RVgeODhqPcclbJQB8bmkOGoOo90Upqtr99jvG9V1z5e+kltfHteEsyyPTyO9M/lY+q1chQXpDT9ZC9vFpTvwzj6ZPoXOX0c8Q1a5xA5Obf53Q3oQ/tP5gH1/VJ0HnMVW6J2j2lufFuY+RVqnpRT1cjB8JNxx2XbvD2WNncSmn9jb0b0YhN1mKaayN0UqmRVKISMd1WmisrkL06SLaTYZmarJbKpRy9sEq50gpy3PddC6y8UfWu7IuANbknQADMlcNEjf4UcldeLIN0aqNuNruKvQYlFI+SNr7ujOy4WIseV9RzCdCY2y3ZIWqJkif1iBcGyZIRidRYK7VVGSyuM1mtkkjSEdK/3m7nHcAT5C6GQxvdh/VsuDPUkXOgY1ocXd2ikawmGQ73DZHeSEaw+F2xHGBlG3ZHC+895y8gnUuEQnDnL/hJguHtjY1jRkBbmeJPPf4rTU8VhdUsPpSMz4fvgl6Q1ZjgcW5E9m/AkH1yKWKCebgPxjpDcmKA3doXCxtxtuvzOQ5obQ0hF+JO04kkkni5xzJQ3BqZwuWu2b8W7V/ULUUFM4Zkg+Fkku2O0orouURNlbkKayOyVjC4gcSmivhi2vS1h0P4juyCvro2BoAGgTlfCPFYQTlyenArly5MKLdckCcgDDSRqHYVxzFE9iBTMYzhtryMGX4h7hCQ9bWRnFZLGaLq3Xb8LvQ8FPZX9RVVZ8ZdwmpsQtGJ7gLFwSWstLh0t1MypLQo1l1WqaTeNRw1V5jTw+qldHl+7+KEzuYC6euI7Mng72P1U1S64Kgq6ZUPvDm9g5/lJ+S3rt38WT3UdcomG6WUxhnE0eRBDr8CCjkFUysjEwAD7AO4tcNR3fVM6S0D3MO8rOYRWOpdsFhLXWOWosmmusFpktTZto93cEVoJtFn8DrxPEHAEWJaQdcv0sjNObKR9M9DU1qNHTyKy6oACDQTWCWaU2uSmTMWux9Y8PBB0KDPwovIbtu2Qbht7tHcNytOq273eWafTYg2/ZFzz0QPGEg5g9KIW23FEDC0na3oTHXB+R7OV1ep6pttR7pkzjhIvBu5QvCfFO12QKc/RAjWegeuBWWxIXNlq8QkFll6k9rxSZ2axeIu0cHZDbZ5Hz/fojVJQPA2hnyQrA62OSYtB+E7PaFgXAZ2K2rQGhaqKfpnKfFLClCLBZjpFiwlvSxi9nXdJnqMjs8tyN4lXxsjfd4Dy1zWNGbi+xzAHPesnheEPObnEE5nZtfkLlEvxXQVpSev4EcOptBpZaSmgACo0NEWjO55nVX3uytuSRX9Cx74SyOFrBWMOisNrjkO5UIoi82Gm8osxtgANwsqKo69JbZYsRISuumJVQTCpQU0JUAPCVNCW6AMo5ijcxWHBM2V0QpSxobX0W20tP7KOvjVeSJca06nh567sksORBt5I/gdSPH2VPpRRbLhIBk7I8nD9PkhNDUbLs/0UU448PQhPUmem00gKtPIss9hlXkEWZLcWWZqhtZHmMt3qgtbSA6ao/WEbLTfP2shs/FKzRGdm2n9l2o9RxQnEMPFtEfr2W7Q1HqN4VKc3F1XXPkuyG+vhLV4BMAHUyOb+F//AJBayErOTQ8ERoak2F9VldD6b/49ia4huNyszNBaWkXuEPilVoSLJGsjM1OECNxI2rcNp1h4XVrCqaMuF7jPXaIRt8IcpKTC27x7LppG1L0kOERkX6x2Z3Odz59ysRYEG9ppeee063zVptO0ZZ+av0gAFtyZJfTruzxguPDC46uaN9iQVfaBG21zlxJJ8yrUrrBZvFa3OyV9Gbk5jMSq7k2QimidLM1jeNzwAGpKSrqLDmUPw/FZ2ucIRs7WRkLe0QNzScgLrsM3WdcW1kTX1tLFBFsbQafiuTZxecr8eeSo1XSlscQjY98slrBxFm58uWfog/8AsySRxdI8uJ1JzPmrkHR4EXF7808rdfSFj/jqK/JkuD0ZPadm45klaimjsFXoaawA5K+3gNVmkztkvhJtKSmpi/M5NHryCWnh2jbdvPsEUytYCwCprr3tkdludIiZGALDJOKUpFQiYRcuXLpwUJUiVcAclumhKgDOOTU4pCuiDCo3tUtkhCABtbRtkaWO0PmOBHNYHEKJ0MhY7dmDxG4r0t7UF6RYcJYyR8TLuafm3y+Szshq02pnxefABhdfbsnXctPQzkjXP0WFiysb6LWYQH9na3qFo9KHYSrZrAXtrYHeSd3gLpsszQL6kjIDVW6mIEC4GRQx1I65cM8tPolHSRQq2vdfKw9ULa0jslaNt7Zi/wA/EIfXwtNnN1BH6poScWJbBSjgMfHYEnQKrTTh17I5UwtdG5vEFZfDciR4eRVM+0RVdS0LQ1hbkURhrQUEkaq5kc3RTYX7ps6acIzSm68/pMS5+C1WEYhe2aBGjSsgViKFQQzZKzHKmQjK+Ju2Y3O4BYZjnSOLt18lqccxiMAxAdY8jNo+Efznd3aoVQteBcxNJ1vfZHgNyVrs3rWR1orRUBJvZX46EZKdwkduazuBPzKexv5pBfwC7xOux4PjpwF1wN4UkFKHmwIceFwfdW24M4b2+v0TKtvxGErYr1laC5RKlpye7jvPcnU2Hhupvy3K81bwqz0msu3pCsaALBPCaVzVuTiuTbpSkQcFuuumErtpAaPShIE4LoChOsmrroOGfKaU9MKBRpSFKUhQA1wUEjVOVHIgDEfcwypMR0Lrj+U52Py8FsMPguQ47gqVbRse5r9Hs0PLgeIUNViToWXDC7LX8I796knW14X02xa79DNXM0HM+5UVPWR7wW94yWQpsYc93aOZK0dLKHBTsrTTG4rWMYewdp29rQXZc7aLN4h1r3XaxwBtfvWpko89poHNLGBoUHTO007gNl4INtba9/NZmmyldcEXJtcW3r0iWBhyNkCqcIL3kNOXGy0/2PxmP+mO6gKXKKQLQM6OHe/JWoej7OF+9JpokYx0V0WwgOacybLRSYMwWFhzyVuCha3QLvbHWFnDZWusA7PgcvK6MMjQykpWosx2S6kzKxL4U5sNjLw+1iBawGRF7j5nzU/Vt4BSSFRXXfBdbRUxNwbG61hcW4a5LJxxkGx8Dxtv5ox0nqrMsP3ZBY6sOaMv3wTQElvTNV0Tiu4u3AWWmc5UMBouqiF/idmfYK44KqCxEVj2Qu0nsTWhPCYVCkJWhLdJdAHFRkpzimoAROASJWlBwelTQnLp066TaXFJZAaAymFOKaUCCFNKcmOQBHIVXlepXlVZiuaBFI9VZCpnqGQJWxgNiOHAnbZk4a7gf1T8OryDsuyI4ogBdV6+mBF7ZjQ71jOvkU1XOPTD1HUhwVDEJXbfYF93jvQiCeSNwvmOI90YpasHLRTSi10XRsTWkLHy/lUzagtzIVn7w3io6kteLLmMZNDf9ohWIq1rshcnuPuoI4W8lPFT8F3BsQMrMXcHbIZodSfYKelqnv1PgMl2JYZ+MXzOY5nemUrdldQrYcpVfa5C6eRWutTaYtE5kSPksFDtIZilfsi10aCQG6QVO05P6F4YZpto/BHmeBcdB7+CE1chce9eldH8P+7wNZ+I9p38x+mngnqjshb58Y4FmrntSsCUqs84hD05sihc3fzTA7gugWjIkuq4epGvXAJgusmhyXaQAq4FclaEYA5qcmpV0DiEiVcgACU0pVxQKNKikKkKhlQwIXuVaUqdVZkh0jeoNnPv8lYbvTJN3elGQgCbNHdSj3XS6HuXTpTLMrfsqF7Mxz3b1cCji+L+lcaOpsrNjdnc2tnxNlJC12ROm/z0Vr8Z/lCc/wCH+v2XOK/hopyX0B4riUsMz42gbII2bg3LSAQdealosck3hp8CPkVB0y/js/7LPm5D6TcsJdMsg9SNmysdILOtb98U50QsqWHaIidEg5XbNsqZlTdU6nVJTaoOBCqqdkLMV9TtFF8R0Kzj9Vw6jTdD8E6x3Xv+Bh7I/M4b+4fPuW7ad+5Cujv/AAkX8nuUSj+AKytJRPOum5TekpcVx9lG7VO/CVoZDWaeKrStsSrTNPFV5/xIBEYcl20xu9cUHSYSKRkiqb/BSNQcL7SnBQQqYLoC3XEpFyAOSpqcgD//2Q==');
    background-size: 310px;
 height: 310px;
 background-repeat: no-repeat;
}
#bgp{
    margin-left: 310px;
    font-size: 13px;
    color: #76448A;
    text-transform: capitalize;
}
#eye{
    background-image: url('https://d2hy56m2o6qi9y.cloudfront.net/wp-content/uploads/2017/12/26195150/brow-shapes-e1534421089440.jpg');
    background-size: 310px;
    height: 310px;
    background-repeat: no-repeat;
}
#bro{
    margin-left: 310px;
    font-size: 15.7px;
    color: #76448A;
text-transform: capitalize;
}
#hair{
    background-image: url('https://www.libs.edu/wp-content/uploads/2018/10/KeratinSmoothingTreatments.jpg');
    background-size: 310px;
    height: 310px;
    background-repeat: no-repeat;

}
#keretin{
    margin-left: 310px;
    font-size: 17.5px;
    color: #76448A;
text-transform: capitalize;
}
#bridal{
    background-image: url('https://i.pinimg.com/originals/77/53/0c/77530ccaab13de8b5666ea831600871b.jpg');
    background-size: 310px;
    height: 310px;
    background-repeat: no-repeat;
}
#makeup{
    margin-left: 310px;
    font-size: 14.5px;
    color: #76448A;
text-transform: capitalize;
}
#price{
    border: black solid;
    margin-right: 350px;
    text-transform: capitalize;
}
#phone{
    margin-left: 250px;
}
#cn{
  margin-left: 200px;
}